In [2]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Loading iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
# Drop the "species" column in the iris data frame
iris.drop(labels = 'species', axis = 1, inplace = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
# Adding columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0           5.1          3.5           1.4          0.2        8.6
1           4.9          3.0           1.4          0.2        7.9
2           4.7          3.2           1.3          0.2        7.9
3           4.6          3.1           1.5          0.2        7.7
4           5.0          3.6           1.4          0.2        8.6

In [7]:
# Adding columns
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [10]:
# Adding the mean, standard deviation, min and max values
mean = [np.mean(iris['sepal_length']),
       np.mean(iris['sepal_width']),
       np.mean(iris['petal_length']),
       np.mean(iris['petal_width']),
       np.mean(iris['sepal_sum']),
       np.mean(iris['petal_sum'])]
summary_dict = {'mean':mean}
summary_df = pd.DataFrame(data = summary_dict)
summary_df

       mean
0  5.843333
1  3.057333
2  3.758000
3  1.199333
4  8.900667
5  4.957333

In [21]:
std = [np.std(iris['sepal_length']),
       np.std(iris['sepal_width']),
       np.std(iris['petal_length']),
       np.std(iris['petal_width']),
       np.std(iris['sepal_sum']),
       np.std(iris['petal_sum'])]
summary_dict = {'std':std}
summary_df = pd.DataFrame(data = summary_dict)  
summary_df

        std
0  0.825301
1  0.434411
2  1.759404
3  0.759693
4  0.886303
5  2.499316

In [22]:
min = [np.min(iris['sepal_length']),
       np.min(iris['sepal_width']),
       np.min(iris['petal_length']),
       np.min(iris['petal_width']),
       np.min(iris['sepal_sum']),
       np.min(iris['petal_sum'])]
summary_dict = {'min':min}
summary_df = pd.DataFrame(data = summary_dict)  
summary_df

   min
0  4.3
1  2.0
2  1.0
3  0.1
4  6.8
5  1.2

In [23]:
max = [np.max(iris['sepal_length']),
       np.max(iris['sepal_width']),
       np.max(iris['petal_length']),
       np.max(iris['petal_width']),
       np.max(iris['sepal_sum']),
       np.max(iris['petal_sum'])]
summary_dict = {'max':max}
summary_df = pd.DataFrame(data = summary_dict)  
summary_df

    max
0   7.9
1   4.4
2   6.9
3   2.5
4  11.7
5   9.2

In [10]:
my_dict = {'Mean':['5.843333','3.057333','3.758000','1.199333','8.900667','4.957333'],
          'STD':['0.825301','0.434411','1.759404','0.759693','0.886303','2.499316'],
           'Min':['4.3','2.0','1.0','0.1','6.8','1.2'],
           'Max':['7.9','4.4','6.9','2.5','11.7','9.2']}
df = pd.DataFrame(my_dict)

df1 = pd.DataFrame(my_dict, columns = ['Mean','STD','Min','Max'])
df1 = pd.DataFrame(my_dict, index = ['sepal_length','sepal_width','sepal_sum','petal_length','petal_width','petal_sum'] )
df1

                  Mean       STD  Min   Max
sepal_length  5.843333  0.825301  4.3   7.9
sepal_width   3.057333  0.434411  2.0   4.4
sepal_sum     3.758000  1.759404  1.0   6.9
petal_length  1.199333  0.759693  0.1   2.5
petal_width   8.900667  0.886303  6.8  11.7
petal_sum     4.957333  2.499316  1.2   9.2